body{
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
div{
  border: 1px solid black;
  height: 250px;
  width: 250px;
  background-image:url(../img/BMW.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 3s;
  /* transition-delay: 2s; */
  
  
 
}

div:hover{
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-image: url(../img/bmw.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  /* transform: scale(1); */
  transform: skew(90deg);
  transform: translate(400px);
  
} 